
/*------------------------------------------------- */
/* =  About sections */
/*------------------------------------------------- */

section.about-section {
	padding: 70px 0;
	position: relative;
	.about-box {
		.about-post {
			margin-bottom: 30px;
		}
	}
}